@charset "UTF-8";

#wrap {
	width:800px;
	margin:0 auto;
}

header {
	height:80px;
	background-color:#dddddd;
}

.contents > .join-box {
	width:300px;
	height:400px;
}

.contents > .login-box {
	width:300px;
	height:300px;
}

footer {
	height:80px;
}